.portfolio {
  margin: 0 auto;
  padding-top: 101px;
  max-width: 1140px;
}

@media (max-width: 900px) {
  .portfolio {
    padding-top: 90px;
    max-width: 668px;
  }
}

@media (max-width: 600px) {
  .portfolio {
    padding-top: 70px;
    max-width: 292px;
  }
}

.portfolio__title {
  margin: 0;
  color: #8B8B8B;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
}

@media (max-width: 600px) {
  .portfolio__title {
    font-size: 14px;
    line-height: 1.43;
  }
}

.portfolio__list {
  margin: 0;
  padding: 30px 0 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .portfolio__list  {
    padding: 20px 0 0 0;
  }
}

.portfolio__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #424242; 
}

.portfolio__item:last-child {
  border-bottom: none;
  }

.portfolio__text {
  margin: 0;
  padding: 20px 0 19px;
  font-size: 30px;
  line-height: 1.65;
  letter-spacing: -1.2px;
}

.portfolio__text_type_indent {
  padding: 20px 0 10px 0;
}

@media (max-width: 900px) {
  .portfolio__text_type_indent {
    padding: 20px 0 0 0;
  }
}

@media (max-width: 900px) {
  .portfolio__text {
    font-size: 28px;
    line-height: 1.79;
    letter-spacing: -1.12px;
  }
}

@media (max-width: 600px) {
  .portfolio__text {
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: -0.72px;
  }
}

.portfolio__icon {
  background-image: url(../../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 29px; 
  height: 60px;
  background-color: #202020;
  border: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .portfolio__icon {
    width: 18px; 
    height: 28px;
    background-size: 12px;
  }
}
