.header {
  max-width: 1140px;
  width: 100%;
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .header {
    max-width: 708px;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 0 14px;
  }
}
