.footer {
  max-width: 1140px;
  width: 100%;
  flex: 0 0 auto;
  font-size: 13px;
  line-height: 1.23;
}

@media (max-width: 900px) {
  .footer {
    max-width: 708px;
  }
}

@media (max-width: 600px) {
  .footer {
    max-width: 300px;
    font-size: 12px;
    line-height: 1.25;
  }
}

.footer__text {
  margin: 0;
  padding: 79px 0 20px 0;
  border-bottom: 1px solid #424242;
  color: #8B8B8B;
  text-align: center;
}

.footer__copyright {
  margin: 0;
}

@media (max-width: 600px) {
  .footer__copyright {
    padding-top: 30px;
  }
}

.footer__info {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

@media (max-width: 600px) {
  .footer__info {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 30px;
  }
}

.footer__nav {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  .footer__nav {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

.footer__item {
  color: #FFFFFF;
  text-decoration: none;
}