.search {
  display: flex;
  max-width: 1140px;
  width: 100%;
  padding-bottom: 10px;
}

.search__form {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__form-input {
  padding: 0 0 0 20px;
  width: 100%;
  min-height: 50px;
  background-color: #2F2F2F;
  border: 0;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.29;
  color: #FFFFFF;
  box-sizing: border-box;
}

.search__form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  gap: 10px;
  max-width: 1140px;
  width: 100%;
}

.search__form-submit {
  background-image: url(../../../images/search.svg);
  background-color: #202020;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border: 0;
  padding: 0;
}

.search__form-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 1160px) {
  .search {
    max-width: 708px;
  }

  .search__form-input {
    max-width: 654px;
  }

  .search__form-container {
    max-width: 708px;
  }
}

@media (max-width: 740px) {
  .search {
    max-width: 292px;
  }

  .search__form-input {
    max-width: 238px;
    min-height: 44px;
    padding: 0 0 0 13px;
  }

  .search__form-container {
    max-width: 292px;
    margin-top: 66px;
  }
}