.techs {
  background-color: #272727;
}

@media (max-width: 600px) {
  .techs {
    background-color: #202020;
  }
}

.techs__technology {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
  padding: 90px 0 26px;
}

@media (max-width: 900px) {
  .techs__technology {
    padding: 80px 0 22px;
  }
}

@media (max-width: 600px) {
  .techs__technology {
    padding: 60px 0 24px;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -1.2px;
  }
}

.techs__text {
  max-width: 460px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.56px;
}

@media (max-width: 900px) {
  .techs__text {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.48px;
  }
}

@media (max-width: 600px) {
  .techs__text {
    font-size: 11px;
    line-height: 1.46;
    letter-spacing: -0.44px;
    max-width: 292px;
  }
}

.techs__buttons {
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .techs__buttons {
    padding: 83px 0 90px;
  }
}

@media (max-width: 600px) {
  .techs__buttons {
    max-width: 178px;
    padding: 50px 0 70px;
    justify-content: flex-start;
  }
}

.techs__button {
  border: 0;
  border-radius: 10px;
  background-color: #303030;
  color: #FFFFFF;
  padding: 21px 0 22px;
  min-width: 90px;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: -0.56px;
}

@media (max-width: 900px) {
  .techs__button {
    min-width: 84px;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: -0.48px;
    padding: 21px 0;
  }
}