html {
  height: 100%;
}

.root {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#root {
  height: 100%;
}

.page {
  max-width: 1280px;
  min-width: 320px;
  min-height: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.page__footer {
  margin: 115px auto 20px;
}

@media (max-width: 900px) {
  .page__footer {
    margin: 90px auto 20px;
  }
}

@media (max-width: 600px) {
  .page__footer {
    margin: 70px auto 20px;
  }
}

.page__header {
  margin: 0 auto 20px;
}

@media (max-width: 600px) {
  .page__header {
    margin: 0 auto 14px;
  }
}
