.section-heading {
  display: flex;
  align-self: flex-start;
  font-size: 22px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: -0.88px;
  margin: 0 auto;
  padding: 110px 0 23px;
  border-bottom: 1px solid #DADADA;
  max-width: 1140px;
}

.section-heading_section_techs {
  padding: 100px 0 23px;
}


@media (max-width: 900px) {
  .section-heading {
    padding: 90px 0 23px;
    max-width: 668px;
  }

  .section-heading_section_techs {
    padding: 90px 0 23px;
  }
}

@media (max-width: 600px) {
  .section-heading {
    padding: 70px 0 28px;
    max-width: 284px;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.72px;
    box-sizing: border-box;
  }

  .section-heading_section_techs {
    padding: 50px 0 28px;
 }

  .section-heading_section_about-me {
    max-width: 292px;
}
}
