.form-button {
  cursor: pointer;
  max-width: 396px;
  width: 100%;
  min-height: 45px;
  background-color: #4285F4;
  color: #FFFFFF;
  padding: 0;
  border: 0;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
}

.form-button:hover {
  opacity: 0.8;
}


.form-button_login {
  margin-top: 157px;
}

.form-button_disabled {
  cursor: not-allowed;
  background-color: #F8F8F8;
  color: #C2C2C2;;
}

@media (max-width: 600px) {
  .form-button {
    font-size: 12px;
    line-height: 1.25;
  }

  .form-button_login {
    margin-top: 245px;
  }
}